@{
    ViewData["Title"] = "Home Page";
}

<style>
   .welcomeBck
   {
        color: #FFF;
        font-family: Arial;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
   }

   body {
		background: linear-gradient(180deg, #D400FF 0%, #000 100%);}

           

</style>

<div>
    <h1 class="welcomeBck">Welcome back!</h1>
    <table>Last recipes:

    <tr>
        <td>
           
        </td>
    </tr>
      
</table></div>


<div></div>